@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family : "Dosis", sans-serif;
  
}

*{
    margin: 0 ;

}

:root{
    --primary-color : #2A3950
    --secondary-color : #984063 
    /* #d96d98 */
    --tertiary-color : #FF9678
    --deepblue-color: #41436A

}